
body {
    background: rgb(2,0,36);
}
.display {
    background: linear-gradient(337deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
    border-radius: 1rem;
    margin: 10rem;
}
.item {
    margin: 1rem;
    padding-top: 1rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    width: auto;
}
img {
    width: 75%;
    height: 75%;
}
h1 {
    text-align: center;
    margin: 10rem;
    font-size: 5rem;
    background: -webkit-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

background: rgb(2,0,36);
background: -moz-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);